<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[BRICK] - {{ title }}</title>

        <link rel="icon" type="image/x-icon" href="assets/brickfavicon.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        {% for linksrc in links %}<link rel="stylesheet" type="text/css" href="{{ linksrc }}{{ nocache }}">
        {% endfor %}

        <param id="nocache" value="{{nocache}}"></param>
        {% for script in scripts %}<script src="{{ script }}{{ nocache }}"></script>
        {% endfor %}
    </head>

    <body>
        <h2>{{ title | toBrickCase }}</h2>
        {% include 'navBar.njk' %}

        {{ content | safe }}
    </body>
</html>