<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[BRICK] - More</title>

        <link rel="icon" type="image/x-icon" href="assets/brickfavicon.png">
        <link rel="stylesheet" type="text/css" href="style.css{{ nocache }}">
        <link rel="stylesheet" type="text/css" href="more.css{{ nocache }}">
    </head>

    <body>
        <h2>[MORE]</h2>

        <div class="center">
            <ul>
                <li><a href="index.html">Home</a></li>
                {% for pagesrc in webpages.main %}
                    <li>
                        <a href="{{pagesrc}}.html">{{pagesrc | title}}</a>
                    </li>
                {% endfor %}
                {% for pagesrc in webpages.more %}
                    <li>
                        <a href="{{pagesrc}}.html">{{pagesrc | title}}</a>
                    </li>
                {% endfor %}
                <li><a href="https://bricktfhc.atabook.org/">Guestbook</a></li>
            </ul>
        </div>
    </body>

</html>