.song-group {
    margin:auto;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.song-name {
    font-weight: bold;
    padding: 0.5rem;
}

.song-audio {
    padding: 0.5rem;
}

.song-lyrics {
    padding: 0.5rem;
}