html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

/* Container for overlapping elements */
#overlay-container {
  position: relative;
  width: 45%; /* Adjust to your needs */
  margin: auto;
}

/* Both image and canvas will fill the container */
#sigil, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

#sigil {
  z-index: 0;
  right:50%;
}

canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}


/* NAVBAR STYLING */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
a::before {
  content:"["
}
a::after {
  content:"]"
}
a {
  text-decoration: none;
}

 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: darkgreen;
}

/* mouse over link */
a:hover {
  color: darkgreen;
}

/* selected link */
a:active {
  color: white;
} 

/* END NAVBAR STYLING */