html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

/* Container for overlapping elements */
#overlay-container {
  position: relative;
  width: 45%; /* Adjust to your needs */
  margin: auto;
  /* border: 2px white dotted; */
}

/* Both image and canvas will fill the container */
#sigil, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

#sigil {
  z-index: 0;
  /* border: 1px hotpink solid; */
  /* left:50%; */
  right:50%;
}

canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}
