.show-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: center;
}

.show-poster {
    object-fit: contain;
    padding-bottom: 0.25rem;
    width: 12vw;
    min-width: 110px;
}

.show-details {
    padding: 4vh 2vw;
    width: 25vw;
}


.ticket-link {
    background-color: darkgreen;
    color: black;
}

.ticket-link:hover {
    background-color: white;
    color: darkgreen;
}

/* VIDEO STUFF */
.wrapper {
    width: 80%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #CCC
}

.h_iframe {
    position: relative;
    padding-top: 56%;
}

.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* MOBILE STYLE CHANGES */
@media screen and (max-width: 800px) {
    .show-details-container {
        flex-direction: column;
        width: 100%;
    }

    .show-poster {
        width: 50vw;
    }

    .show-details {
        padding: 1vw 2vw 2vw 0vw;
        margin: 0 0;
        width: 90vw;
    }

    /* Awful little hack - need to rewrite all the css to be responsive */
    #navbar {
        padding-bottom: 1rem;
  }
}