---
layout: base.njk
title: Bootlegs
links:
    - bootlegs.css
scripts:
    - bootlegs.js
---
<h3 style="margin-bottom: 2px;">WHY WE BOOTLEG</h3>
<div id="disclaimer">
    <p>We bootleg sets from bands we love because we want to keep a record of the scene and believe you
        should archive everything.</p>
    <p>If you'd like us to take your bootleg down from our site just ask and we'll do
        it, no ifs or buts.</p>
</div>
<div id="main-container">
</div>