---
layout: indextemplate.njk
title: "[BRICK]"
scripts:
  - libraries/p5.min.js
  - sketch.js
  - NavNode.js
  - canvasPositioning.js
---
<div id="overlay-container">
  <img id="sigil" src="assets/SigilVectorWhite-cropped.svg"/>
  <!-- canvas will be inserted here by p5.js -->
</div>